{% extends "MainApp/Layout/_Layout_LogOut.html" %}
{% load staticfiles %}
{% block content %}

<div class="login-screen row align-items-center">
	<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
		<form action="{% url 'login' %}" method="post" class="form-horizontal">
            {% csrf_token %}
			<div class="login-container">
				<div class="row no-gutters">
					<div class="col-xl-4 col-lg-5 col-md-6 col-sm-12">
						<div class="login-box">
							<a href="#" class="login-logo">
								<img src="{% static 'MainApp/theme-files/img/unify.png' %}" alt="Unify Admin Dashboard" />
							</a>
							<div class="input-group">
								<span class="input-group-addon" id="username"><i class="icon-account_circle"></i></span>
								<input type="text" id="username" name="username" class="form-control" placeholder="Username" aria-label="username" aria-describedby="username">
							</div>
							<br>
							<div class="input-group">
								<span class="input-group-addon" id="password"><i class="icon-verified_user"></i></span>
								<input type="password" id="password" name="password" class="form-control" placeholder="Password" aria-label="Password" aria-describedby="password">
							</div>
                            {% if form.errors %}
                                <p class="validation-summary-errors">Please enter a correct user name and password.</p>
                            {% endif %}

							<div class="actions clearfix">
                                <!--
								<a href="forgot-pwd.html">Lost password?</a>
                                -->
								<button type="submit" class="btn btn-primary btn-lg">Login</button>
							</div>
                            <!--
							<div class="or"></div>
							<div class="mt-4">
								<a href="signup.html" class="additional-link">Don't have an Account? <span>Create Now</span></a>
							</div>
                            -->
						</div>
					</div>
					<div class="col-xl-8 col-lg-7 col-md-6 col-sm-12">
						<div class="login-slider"></div>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>

{% endblock %}