{% extends "MainApp/Layout/_Layout.html" %}
{% load humanize %}

{% block content %}

<div class="row gutters">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
        <div class="card">
            <div class="card-header">Dashboard</div>
            <div class="card-body">
               <div class="row align-items-center">
                   <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
                       <div class="monthly-avg plain">
                           <h6>Fugas</h6>
                           <!--
                           <div class="avg-block">
                                <h4 class="avg-total text-secondary">{#{{ porcentaje_fugas | floatformat:4 }}#}</h4>
                                <h6 class="avg-label">
                                    % de Fugas
                                </h6>
                            </div>
                            -->
                           <div class="avg-block">
                                <h4 class="avg-total text-secondary">{{ total_fugas }}</h4>
                                <h6 class="avg-label">
                                    Registradas
                                </h6>
                            </div>
                           <div class="avg-block">
                                <h4 class="avg-total text-primary">{{ fugas_resueltas }}</h4>
                                <h6 class="avg-label">
                                    Resueltas
                                </h6>
                            </div>
                       </div>
                   </div>
                   <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
                       <div class="monthly-avg plain">
                           <h6>Ahorro Anual</h6>
                           <div class="avg-block">
                                <h4 class="avg-total text-primary">{{ ahorro_economico | prepend_dollars }}</h4>
                                <h6 class="avg-label">
                                    Econ&oacute;mico (USD)
                                </h6>
                            </div>
                           <div class="avg-block">
                                <h4 class="avg-total text-primary">{{ ahorro_energetico | floatformat:2 | intcomma }}</h4>
                                <h6 class="avg-label">
                                    Energ&eacute;tico (kWh)
                                </h6>
                            </div>
                       </div>
                   </div>
                   <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
                       <div class="monthly-avg plain">
                           <h6>Emisiones</h6>
                           <div class="avg-block">
                                <h4 class="avg-total text-primary">{{ emisiones_co2 | floatformat:2 }}</h4>
                                <h6 class="avg-label">
                                    De Carbono (Ton de CO2 a la Atm.)
                                </h6>
                            </div>
                       </div>
                   </div>
               </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
