body {
    -webkit-font-smoothing: antialiased;
    overflow-x: hidden !important;
}

#SVGContainer {
    background: #dadada;
    position: relative;
    cursor: crosshair;
}

#controls {
    position: absolute;
    top: 80px;
    left: 10px;
    height: 130px;
    width: 50px;
}
}

#controls circle:hover {
    fill-opacity: 1;
}

.custom-menu {
    z-index: 1000;
    position: absolute;
    background-color: #ffffff;
    cursor: pointer;
}

.punto-fuga {
    cursor: pointer;
    animation: blinker 1s linear infinite;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
}
@-webkit-keyframes blinker {
    from {
        opacity: 1.0;
    }

    to {
        opacity: 0.1;
    }
}

.list-group-item:hover {
    cursor: pointer;
    background-color: #007ae1;
    color: white;
}

.info-fugas {
    position: absolute;
    top: 0px;
    background-color: white;
    padding: 10px 20px;
    box-shadow: #afafaf 0px -1px 10px 4px;
    border-radius: 10px;
}
.div-images {
    height: 100%;
    width: 100%;
    z-index: 1000;
    position: absolute;
    top: 0;
    padding: 20px 50px;
    text-align: center;
    background-color: #131313b8;
}