body {
    -webkit-font-smoothing: antialiased;
    overflow-x: hidden !important;
}

#SVGContainer {
    background: #dadada;
    position: relative;
}

#controls {
    position: absolute;
    top: 10px;
    left: 10px;
}

#controls circle:hover {
    fill-opacity: 1;
}

.custom-menu {
    z-index: 1000;
    position: absolute;
    background-color: #C0C0C0;
    border: 1px solid black;
    padding: 2px;
}