{% extends "MainApp/Layout/_Layout.html" %}

{% load staticfiles %}

{% load humanize %}

{% block content %}

<div class="row gutters">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
        <div class="card">
            <div class="card-header">Listado de Fugas</div>
            <div class="card-body">
                <!--
                <div class="table-responsive">
                    -->
                <div class="row gutters">
                    <div class="col-xl-12 col-md-12 col-sm-12 col-sm-12 text-right">
                        <button type="button" name="BtnExportCSV" id="btnExportCSV" class="btn btn-primary" data-toggle="modal" data-target="#genericModal" data-action="ExportCSVFuga" data-url="{% url 'fuga-export-csv' %}">
                            Exportar a CSV
                        </button>
                    </div>
                </div>
                <div class="row gutters">
                    <div class="col-xl-12 col-md-12 col-sm-12 col-sm-12">
                        <table id="TableFugaList" class="table table-striped table-bordered table-responsive">
                            <thead>
                                <tr>
                                    <th>
                                        &Aacute;rea
                                    </th>
                                    <th>
                                        M&aacute;quina
                                    </th>
                                    <th>
                                        Ubicaci&oacute;n
                                    </th>
                                    <th>
                                        Categor&iacute;a
                                    </th>
                                    <th>
                                        Recomendaci&oacute;n
                                    </th>
                                    <th>
                                        Estatus
                                    </th>
                                    <th>
                                        Fecha Registro
                                    </th>
                                    <th>
                                        Acciones
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for fuga in object_list %}
                                    <tr class="{% if fuga.estatus == 1 %}table-danger{% elif fuga.estatus == 2 %}table-success{% endif %}">
                                        <td>
                                            {{ fuga.area.nombre }}
                                        </td>
                                        <td>
                                            {{ fuga.maquina.nombre }}
                                        </td>
                                        <td>
                                            {{ fuga.ubicacion.nombre }}
                                        </td>
                                        <td>
                                            {{ fuga.categoria }}
                                        </td>
                                        <td>
                                            {% if fuga.recomendacion == 'REP' %}
                                                Reparar
                                            {% elif fuga.recomendacion == 'REM' %}
                                                Remplazar
                                            {% elif fuga.recomendacion == 'OTR' %}
                                                Otro
                                            {% endif %}
                                        </td>
                                        <td>
                                            {% if fuga.estatus == 1 %}
                                                Registrado
                                            {% elif fuga.estatus == 2 %}
                                                Corregido
                                            {% endif %}
                                        </td>
                                        <td>
                                            {{ fuga.added|date }}
                                        </td>
                                        <td>
                                            <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#genericModal" data-action="DetailsFuga" data-url="{% url 'fuga-partial-details' fuga.pk %}">
                                                <span class="icon-magnifying-glass">&nbsp;Detalles</span>
                                            </button>
                                            {% if fuga.estatus == 1 %}
                                                <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#genericModal" data-action="EditFugaCorregida" data-url="{% url 'fuga-corregida' fuga.pk %}">
                                                    <span class="icon-tick-outline"></span>&nbsp;Corregido
                                                </button>
                                                <button class="btn btn-secondary"  data-toggle="modal" data-target="#genericModal" data-action="DeleteFugaCorregida" data-url="{% url 'fuga-delete' fuga.pk %}">
                                                    <span class="icon-trash"></span>&nbsp;Eliminar
                                                </button>
                                            {% elif fuga.estatus == 100 %}
                                                <!--
                                                <a href="{#{% url 'fuga-edit' fuga.pk %}#}" class="btn btn-primary">
                                                    <span class="icon-edit"></span>&nbsp;Editar
                                                </a>
                                                -->
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <!--
                </div>
                -->
                <!-- URL Create -->
                <input id="UrlApiAreaCreate" type="hidden" value="{% url 'area-create' %}" />
                <input id="UrlApiMaquinaCreate" type="hidden" value="{% url 'maquina-create' %}" />

                <!-- URL's List for Selects -->
                <input id="UrlApiAreaListSelect" type="hidden" value="{% url 'ApiAreaListSelect' %}" />
                <input id="UrlApiMaquinaListSelect" type="hidden" value="{% url 'ApiMaquinaListSelect' '0' %}" />
                <input id="UrlApiUbicacionListSelect" type="hidden" value="{% url 'ApiUbicacionListSelect' %}" />
                <input id="UrlApiCategoriaListSelect" type="hidden" value="{% url 'ApiCategoriaListSelect' %}" />
                <input id="UrlApiRecomendacionFugaListSelect" type="hidden" value="{% url 'ApiRecomendacionFugaListSelect' %}" />

                <!-- URL's for actions -->
                

            </div>
        </div>
    </div>
</div>

{#{% include "MainApp/Modals/_GenericFormModal.html" %}#}
{% include "MainApp/Modals/_GenericFormLgModal.html" %}

{% endblock %}

{% block scripts %}

{% endblock %}

{% block finalscripts %}

<script src="{% static 'MainApp/scripts/fuga-js/fuga-list.js' %}"></script>

{% endblock %}
