{% load staticfiles %}
<!-- Below are Main CSS files has to be included all HTML pages -->
<!-- Common CSS files -->

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="{% static 'MainApp/theme-files/css/bootstrap.min.css' %}">
<!-- Icomoon Icons -->
<link rel="stylesheet" href="{% static 'MainApp/theme-files/fonts/icomoon/icomoon.css' %}">
<!-- Main CSS -->
<link rel="stylesheet" href="{% static 'MainApp/theme-files/css/main.css' %}">

<!-- Use main-rtl css for RTL support -->
<!-- Main RTL CSS -->
<!--<link rel="stylesheet" href="{#{% static 'MainApp/theme-files/css/main-rtl.css' %}#}">-->

<!-- Below are Optional CSS files has to be included in required pages -->
<!-- Optional CSS files -->
<!-- Datepicker CSS -->
<link href="{% static 'MainApp/theme-files/css/datepicker.css' %}">
 
<!-- jQuery UI CSS -->
<link href="{% static 'MainApp/theme-files/css/jquery-ui.css' %}">
 
<!-- Timeline CSS -->
<link href="{% static 'MainApp/theme-files/css/timeline.css' %}">
 
<!-- Only for RTL support -->
<!--<link href="{#{% static 'MainApp/theme-files/css/main-rtl.css' %}#}">-->

<!-- Below are Plugins CSS files which are needed for widgets. -->
<!-- Example Flot Charts/ Fullcalendar -->

<!-- C3 Graphs CSS -->
<link href="{% static 'MainApp/theme-files/vendor/c3/c3.min.css' %}">

<!-- Calendar CSS -->
<link href="{% static 'MainApp/theme-files/vendor/calendar/css/custom-calendar.css' %}">
<link href="{% static 'MainApp/theme-files/vendor/calendar/css/fullcalendar.min.css' %}">

<!-- Chartist CSS -->
<link href="{% static 'MainApp/theme-files/vendor/chartist/css/chartist.min.css' %}">
<link href="{% static 'MainApp/theme-files/vendor/chartist/css/chartist-custom.css' %}">

<!-- Circliful CSS -->
<link href="{% static 'MainApp/theme-files/vendor/circliful/circliful.css' %}">

<!-- Content Filter CSS -->
<link href="{% static 'MainApp/theme-files/vendor/content-filter/custom-filter.css' %}">

<!-- Datatables CSS -->
<link href="{% static 'MainApp/theme-files/vendor/datatables/dataTables.bs4.css' %}">
<link href="{% static 'MainApp/theme-files/vendor/datatables/dataTables.bs4-custom.css' %}">

<!-- Gallery CSS -->
<link href="{% static 'MainApp/theme-files/vendor/gallery/gallery.css' %}">

<!-- Lobipanel CSS -->
<link href="{% static 'MainApp/theme-files/vendor/lobipanel/lobipanel.css' %}">

<!-- Morris CSS -->
<link href="{% static 'MainApp/theme-files/vendor/morris/morris.css' %}">

<!-- Notify CSS -->
<link href="{% static 'MainApp/theme-files/vendor/notify/notify-flat.css' %}">
