body {
    -webkit-font-smoothing: antialiased;
    overflow-x: hidden !important;
}

#SVGContainer {
    background: #dadada;
    position: relative;
    cursor: crosshair;
}

#controls {
    position: absolute;
    top: 10px;
    left: 10px;
    height: 130px;
    width: 50px;
}
}

#controls circle:hover {
    fill-opacity: 1;
}

.custom-menu {
    z-index: 1000;
    position: absolute;
    background-color: #ffffff;
    cursor: pointer;
}